signature {
    signature-pad {
        canvas {
            width: 100%;
            height: 200px;
            background-color: rgba(100, 100, 100, 0.7);
        }
    }
    .bg-col {
        background-color: rgba(100, 100, 100, 0.7);
    }
}